
body{
    margin: 0;
    font-family: sans-serif;
}

.title{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.781);
    color: #fff;
    padding: .5em;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0 0 0 / 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    transition: transform .3s;
}

.modal__content{
    background-color: #fff;
    width: 50vw;
    height: 50vh;
    padding: 2em;

}

.modal--show{
    transform: scale(1);
}